# Node
frontend/node_modules
frontend/dist

# Python
backend/__pycache__
backend/myenv
backend/.venv

# ML Models / Data
*.h5
*.pt
*.onnx
# *.pkl
*.keras
data/
datasets/

# OS
.DS_Store
Thumbs.db

# Env
.env